@import 'defines';

.form-simples {
  font-size: 12px;

  input, textarea {
    font-size: 12px;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 11px;
    text-decoration: none;
    padding: 10px 36px;

    border: 1px solid $red;
    color: $red;
    background-color: #fff;

    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;

    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
}
