@import 'defines';

.veja-tambem {
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(5%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );

  padding: 44px 0 82px;
  text-align: center;

  img {
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 22px;
    color: #000;
  }

  a {
    &:hover {
      header {
        visibility: visible;
        opacity: 1;
      }
    }   
  }

  header {
    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.4);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;

      height: 100%;
    }

    @media (max-width: 767.98px) {
      padding-top: 20px;
    }

    display: table;
    width: 100%;
    text-align: center;

    .content {
      display: table-cell;
      vertical-align: middle;

      h5 {
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width: 767.98px) {
          font-size: 12px;
        }
      }

      button {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 11px;
        text-decoration: none;
        padding: 10px 20px;

        @media (max-width: 767.98px) {
          padding: 5px 10px;
        }

        background-color: $red;
        color: #fff;
        border: 1px solid $red;

        -webkit-transition: all 250ms linear;
        -moz-transition: all 250ms linear;
        -ms-transition: all 250ms linear;
        -o-transition: all 250ms linear;
        transition: all 250ms linear;
      }
    }
  }

  .container {
    .row {
      .col {
        padding: 0;
      }
    }
  }
}